#navbarNav {
  margin-right: 4%;
  font-size: 125%;
}
#navbarNav li {
  margin-left: 0.5em;
}
#navbarNav li a {
  color: black;
}
#navbarNav .nav-link:hover {
color: orange;
font-weight: bolder;
}

.btn{
  background-color: #53c6cd;
  box-shadow: 1px 1px 1px 1px orange;
  font-weight: bolder;
}

.navbar-toggler
{
  border: 5px solid orange;
}

.banner
{
  height: 400px;
  width: 100%;
  margin-bottom: 65px;
  text-align: center;
  background-image: url('../images/banner.jpg');
  
}

.banner-slide
{
  animation-duration: 2.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
      margin-left: 50%;
      width: 100%;
  }

  to {
      margin-left: 25%;
      width: 50%;
  }
}

.banner h2
{
  color: orange;
  font-weight: bolder;
  padding-top: 4em;
 
}

.banner .btn:hover
{
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid white;
  background-color: #002327;
}

.sectionOne
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sectionOne .img, .text
{
  width: 30%;
}

.sectionOne .text
{
  tetx-align: justify;
  width: 55%;
}

@media all and ( max-width:500px)
{
    .sectionOne .text
    {
      width: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 15px;
      padding-top: 25px;
      text-align: center;
      border-radius-top-left: 10px;
    }
}

#section-event
{
  margin-top: 20px;
  padding-top: 40px;
}

#evenTtwo
{
  margin: 10px auto;
  text-align: center;
}

#evenTtwo p {text-align: justify}


#evenTtwo i
{
  font-size: 1.5em;
  margin-left: 0.6em;
}

#evenTtwo .suivre-reseau
{
  text-align: center;
  fon-size: 20px;
  font-weight: bold;
  color: black;
}


.section-card
{
  padding: 0px;
}

.card
{
  width: 250px;
  height: 300px;
  box-shadow: 1px 2px 1px 0px gray;
  margin: 0 auto;
  padding: 0px;
}

.card-img
{
  width: 180px;
  height: 130px;
  margin: 15px auto;
}

.card-body
{
  position: relative;
  top: -25px;
}

.section-contact
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.img-contact img
{
  width: 400px;
}


.form-contact input, textarea
{
  border: none;
  background-color: #dfe4ea;
  margin-top: 10px;
  padding: 10px;
  width: 400px;
  border-bottom: 2px solid orange; 
}

.form-contact textarea
{
  height: 150px;
}

.form-contact input:focus
{
  border: none;
}

@media all and ( max-width:420px)
{
    .form-contact input, textarea
  {
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .img-contact img
  {
    width: 350px;
  }


}

.apropos img
{
  width: 400px;
  height: 200px;

}

.apropos-content
{
  width: 70%;
  margin: 0 auto;
}


.apropos .logo
{
  height: 10x;
  float: left;
  color: orange;
  font-weight: bold;
  padding-right: 12px;
}

.services 
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 10px;
}


.services .element 
{
  width: 250px;
}

.services .element h4 i { color: orange}
{
  width: 250px;
}



#footer
{
  margin-top: 5em;
  padding-top: 2em;
}

.label-footer
{
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 1em;
}

.label-footer span
{
  color: orange;
  font-weight: bolder;
}

#footer li
{
  list-style: none;
}


#footer i
{
  margin-left: 1em;
  text-decoration: none;
}

#carouselExampleSlidesOnly
{
  height: 500px;
}